.app-bg {
  background: #212121;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.container-box {
  height: 470px;
  width: 480px;
  background: coral;
  padding: 20px;
  margin: auto;
  border-radius: 7px;
  box-shadow: 3px 5px 10px 3px #000000;
}
.header {
  color: white;
  font-size: 29px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.task-details {
  color: #414141;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}
.text-field {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #212121;
  padding: 5px;
  color: #212121 !important;
}
.text-field-edit {
    display: flex;
    align-items: center;
    /* border-bottom: 3px solid #212121; */
    padding: 5px;
    color: #212121 !important;
    flex-wrap: wrap;
  }
.input-field {
  appearance: none;
  background: rgb(253, 158, 124);
  border: none;
  width: 100%;
  color: white;
  margin: 3px;
  /* margin-bottom: 3px; */
  padding: 4px 2px;
  outline: none;
  color: #212121;
}
.input-field::placeholder {
  color: #212121;
  font-weight: 500;
  opacity: 1;
}
.btn {
  display: flex;
  flex-shrink: 0;
  background: #212121;
  border: 2px solid #212121;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}
.btn:hover {
  background: #414141;
  border: 2px solid #414141;
}
.task-list {
  /* border-bottom: 1px solid #212121; */
  border-left: 4px solid #212121;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.todo-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: 600;
    margin: 4px;
}
.edit-btn {
  display: inline-block;
  background: #414141;
  border: 2px solid #414141;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 60px;
  margin: 4px;
}
.delete-btn {
  display: inline-block;
  background: #414141;
  border: 2px solid #414141;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 60px;
  margin: 4px;
}
